<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.oomph.console.application"
         name="Ooumph Console Launcher application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.oomph.console.application.ConsoleLauncherApplication">
         </run>
      </application>
   </extension>
</plugin>
